* {  
    font-style: normal; 
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F2F4F6;
}
header{
    padding-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 50px;
    color: rgb(54, 54, 54);
    font-size: 30px;
    border-bottom: solid rgb(145, 145, 145) 2px;
}

.barra{
    font-size: 20px;
    display: inline;
    padding-left: 60px;
}

a:link {
    text-decoration: none;
}

a:hover{
    text-decoration-color: rgb(255, 255, 255);
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
    color: rgb(54, 54, 54);
    text-decoration: underline;
}

a:visited{
    color: rgb(54, 54, 54);
    text-decoration: underline;
}

nav{
    text-align: center;
}

.inicio{
    background-color: rgb(255, 255, 255);
    border: solid 1px rgb(255, 255, 255);
    
    margin-left: 250px;
    margin-right: 550px;
    padding: 30px;
    
}
.inicio:hover{
    border-color: rgb(54, 54, 54);
}

hr { display: block; height: 1px;
    border: 0; border-top: 1px solid rgb(221, 221, 221);
    margin: 1em 0; padding: 0; 
    margin-top: 20px;
    margin-bottom: 20px;
}
    

.destacado{
    font-size: 19px;
    padding-top: 20px;
    padding-left: 270px;
}

div{
    background-color: white;
}
article{
    background-color: white;
    text-align: left;
    align-self: auto;
}

p.titulo{
    background-color: white;
    display: block;

}
